<!DOCTYPE html>
<html>
    <head>
        <title>Driver Test Page</title>
		<meta http-equiv="refresh" content="1">
        <style>
        table, td {
            border-style: solid;
            border-width: 1px
        }
        td {
            min-width: 25%;
        }
        </style>
    </head>
    <center>
        <body>
            <font size="+2">
                <h1>Driver Test Page</h1>
                <form action="{{action}}" method="post">
                    <table>
                        <tr>
                            <td>LED State: </td>
                            <td><center><b>{{led_state}}</center></b></td>
                        </tr>
                        <tr>
                            <td><button name="{{btnTurnOn}}" type="submit" value="on"><font size="+1">Turn on</font></button></td>
                            <td><button name="{{btnTurnOff}}" type="submit" value="off"><font size="+1">Turn off</font></button></td>
                        </tr>
                    </table>
                </form>
            </font>
        </body>
    </center>
</html>
